CONFDIR=~/Code/solr-shanti-configsets/solr6.4.x
ZK=~/Code/searchstax-client/solr-6/scripts/zkcli.sh
ZKHOSTS_DEV="ss251856-1-zk-us-east-1-aws.measuredsearch.com:2181" 
ZKHOSTS_PROD="ss395824-1-zk-us-east-1-aws.measuredsearch.com:2181,ss395824-2-zk-us-east-1-aws.measuredsearch.com:2181,ss395824-3-zk-us-east-1-aws.measuredsearch.com:2181" 

